<div class="container">
    <br>
    <h3 style="color: crimson;margin-left: 20px;">Forgot Password ?</h3>
    <br>
     <ol>
        <li>Enter your Registered Email Id.</li>
        <li>Click on <b>Get OTP</b>.</li>
        <li>Enter here the OTP which you got in your Mail</li>
        <li>And give <b>Proceed</b> you will be taken to the Reset Page</li>
      </ol>
      <br><br>
        <div *ngIf="!isShow" style="text-align: center;">
            <input type="text" placeholder="Enter your mail Id" name="data.mailId" [(ngModel)]='data.mailId'
                class="form-control" style="width: 300px;margin-left: 375px;" />
                <br>
                <div>
                    <button class="btn btn-info" (click)="forgotpassword()" >Get Otp</button>
                </div>
        </div>
    <div *ngIf='!isShowOtp' style="text-align: center;">
         <label>Enter the OTP :</label>
        <input type="text" placeholder="Enter OTP" [(ngModel)]='otp' class="form-control" style="width: 300px;margin-left: 375px;" />
            <br>
            <div>
                <button class="btn btn-info" (click)="verifyOtp()">Proceed</button>
            </div>
    </div>
</div>


<!--border: black solid 2px; padding: 5px; border-radius: 3px;-->