<div class="container" style="border: black solid 2px; padding: 5px; border-radius: 3px; text-align: center;">
        <div class="form-group" *ngIf="!isShow">
            <input type="text" placeholder="Enter your mail Id" name="data.mailId" [(ngModel)]='data.mailId'
                class="center" style="width: 300px;" />
            <br>
            <button class="btn btn-info" (click)="forgotpassword()">Get Otp</button>
        </div>
        <br>
    <br>
    <div *ngIf='!isShowOtp' style="width: 200px;margin-left: 20px;">

        <label>Enter the OTP :</label>
        <input type="text" placeholder="Enter OTP" [(ngModel)]='otp' class="form-control" /><br>
        <button class="btn btn-info" (click)="verifyOtp()">Proceed</button>
    </div>
</div>