<footer class="bottom">
    <div class="container-fluid">
        <div class="row">
            <ul>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Terms of Use</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
</footer>