 
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Bus Number</th>
            <th scope="col">From</th>
            <th scope="col">To</th>
            <th scope="col">Departure Date</th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let bus of buslist">
            <td>{{bus.Bid}}</td>
            <td scope="row">{{bus.Source}}</td>
            <td scope="row">{{bus.To}}</td>
            <td scope="row">{{bus.date}}</td>
                       
            <button class="btn btn-primary" (click) ="onClick(bus.Bid)" >Book</button>
            
        </tr>
    </tbody>
</table>