<div class='container'>
    <br />
    <img src="../../../../assets/wallet.png" alt="Wallet Image" height="125px" width="125px" class="rounded mx-auto d-block">
    <hr/>
    <div style="font-size:24px; color: crimson; text-align: center;">Wallet Balance : <span class="fa fa-rupee" style="color: darkslategray;"> {{balance}} </span></div>
    <br />
    <div style="text-align: center;"> <button class="btn btn-info" (click)="initPayment()"><i class="fas fa-wallet"></i> Pay From Wallet</button></div>
</div>