<div class="col-md-4 offset-4 mt-6 card" style="border:2px solid darkgrey; padding: 20px;border-radius: 3px;">
    <div class="card-body">
    <form  (ngSubmit)='saveBus(bus)' >
    <h1 class="h1 text-center" style="color: crimson;">Edit Bus </h1>
    
    <div class="form-group">
        <label for="Bus_Id"  class="text-info">Bus Id</label>
        <input type="number" name="Bus_Id" id="Bus_ID" class="form-control" required
        placeholder="Enter Bus Id" [(ngModel)]= 'bus.Bus_Id'>
        </div>
    
    
     <div class="form-group">
    <label for="Bus_Model"  class="text-info">Bus Model</label>
    <input type="text" name="Bus_Model" id="Bus_Model" class="form-control" required
    placeholder="Enter Bus Model" [(ngModel)]= 'bus.Bus_Model'>
    </div>

    <div class="form-group">
        <label for="date"  class="text-info">Date
        </label>
        <input type="date" name="date" id="date" class="form-control"
        required placeholder="Enter date" [(ngModel)]= 'bus.Date'>
        </div>
    
        <div class="form-group">
            <label for="Depart_Time"  class="text-info">Depart Time
            </label>
            <input type="time" name="Depart_Time" id="Depart_Time" class="form-control"
            required placeholder="Enter Depart Time" [(ngModel)]= 'bus.Depart_Time'>
            </div>

            <div class="form-group">
                <label for="Arrival_Time" class="text-info">Arrival Time
                </label>
                <input type="time" name="Arrival_Time" id="Arrival_Time" class="form-control"
                required placeholder="Enter Arrival Time" [(ngModel)]= 'bus.Arrival_Time'>
                </div>
     <div class="form-group">
        <label for="Total_Seats"  class="text-info">Totalseats
        </label>
        <input type="number" name="Total_Seats" id="Total_Seats" class="form-control"
        required placeholder="Enter Total Seats" [(ngModel)]= 'bus.Total_Seats'>
        </div>

        <div class="form-group">
            <label for="No_of_available_seats"  class="text-info">Number Of Available Seats
            </label>
            <input type="No_of_available_seats" name="No_of_available_seats" id="No_of_available_seats" class="form-control"
            required placeholder="Enter Number of Available Seats" [(ngModel)]= 'bus.No_of_available_seats'>
            </div>

            <div class="form-group">
                <label for="cost" class="text-info">Fare</label>
                <input type="number" name="cost" id="cost" class="form-control" required
                placeholder="Enter Ticket Price" [(ngModel)]= 'bus.Fare'>
                </div>

                <div class="form-group">
                    <label for="ExtraFeatures"  class="text-info">Extra Features</label>
                    <input type="text" name="ExtraFeatures" id="ExtraFeatures" class="form-control" required
                    placeholder="Enter Extra Features" [(ngModel)]= 'bus.ExtraFeatures'>
                    </div>

     <div class="form-group">
    <label for="Source"  class="text-info">Source
    </label>
    <input type="text" name="Source" id="Source"
    class="form-control" required placeholder="Enter Source" [(ngModel)]= 'bus.Source'>
    </div>
    
     <div class="form-group">
    <label for="destination" class="text-info">Destination
    </label>
    <input type="text" name="destination" id="destination" class="form-control"
    required placeholder="Enter Destination" [(ngModel)]= 'bus.destination'>
    </div>
    
 
    
     <button type="submit" class="btn btn-success float-right" >Edit and Save Bus </button>
    
    </form>
    </div>
    </div>

