<app-header></app-header>
<div class="col-md-4 offset-4 mt-6 card" style="background :seashell">
    <div class="card-body">
    <form #f="ngForm" (ngSubmit) = "onSubmit(f)" >
    <h1 class="h1 text-center" style="font-family:serif; color:rgb(204, 95, 95) ;">Change Password</h1>
    
    <div class="form-group">
        <label for="password" class="text-success">Old Password</label>
        <input type="password" name="oldpassword" ngModel required #oldpassword = "ngModel" id="oldpassword"
        class="form-control" required placeholder="Enter Old Password" required>   
        </div>

    <div class="form-group">
    <label for="password" class="text-success">New Password</label>
    <input type="password" name="newpassword" ngModel required #newpassword = "ngModel" id="newpassword"
    class="form-control" required placeholder="Enter New Password" required>   
    </div>


    <div class="form-group">
        <label for="confirmpassword" class="text-success">Confirm Password</label>
        <input type="password" name="confirmpassword" ngModel required #confirmpassword = "ngModel" id="confirmpassword"
        class="form-control" required placeholder="Enter confirm Password" required>   
        </div>


    <button type="submit" [disabled] = "f.invalid" class="btn btn-outline-info btn-block form-control" >Save
    </button>

  
    </form>
    </div>
    </div>

