<!-- <app-header></app-header> -->
<!-- <app-payment></app-payment> -->
<!-- <app-search></app-search> -->
<!-- <app-delete-bus></app-delete-bus> -->
<!-- <app-login></app-login> -->
<!-- <app-forgot-password></app-forgot-password> -->
<!-- <router-outlet></router-outlet> -->

<div class="b-app">
    <div class="b-app-content">
        <app-header></app-header>
        <!-- <app-user></app-user> -->
        <!-- <app-search></app-search> -->
        <router-outlet></router-outlet>
        <!-- <app-footer></app-footer> -->
    </div>
</div>